* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.main-square {
  width: 400px;
  height: 500px;
  background-color: rgba(92, 177, 158, 0.431);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(92, 177, 158, 0.831);
  border-radius: 4px;
  box-shadow: 2px 2px 2px black;
}

.title {
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin: 0 20px;
}

.wiki-display {
  background-color: whitesmoke;
  height: 130px;
  padding: 2px 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.typing-display {
 outline: none;
 resize: none;
 padding: 2px 4px;
 width: 360px;
 height: 130px;
 margin-top: 10px;
margin-bottom: 10px;

}

.counter {
  color: whitesmoke;
  background: black;
  width: 50px;
  /* !!!!! */
  text-align: center;
  margin-top: 10px;
}

.control-buttons-row {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}

.column-left,
.column-right {
  display: inline-block;
}

.control-item {
  margin-right: 2px;
  width: 60px;
  height: 1.8em;
}

.btn {
  padding: 0.3em 0.4em;
  cursor: pointer;
  border: none;
  
  text-align: center;
  vertical-align: middle;
}

.btn-control {
  background-color: steelblue;
  border-radius: 0.5em;
  color: white;
  border: 1px solid black;
}

.btn-control:hover {
  background-color: slateblue;
}

.btn-reset {
  margin-right: 0;
  background-color: tomato;
}

.btn-reset:hover {
  background-color: rgb(228, 27, 1);
}
